@font-face {
    font-family: 'KOTRAHOPE';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arita-buri-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-buri-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


* {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background-image: url('./bg/Hina_and_Hodaka_eat_lunch_together.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    margin: 0;
}

.wrap {
    width: 90%;
}

.topUi {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 200px;
}

.logo {
    width: 168px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
}

.mainTitle {
    font-family: 'Arita-buri-SemiBold';
    font-size: 32px;
    color: white;
}

.subTitle {
    display: flex;
    flex-direction: row;
    font-family: KOTRAHOPE;
    font-size: 28px;
}


.mal {
    color: #FFADAD;
}

.umm {
    color: #FFD6A5;
}

.so {
    color: #FDFFB6;
}

.nyeo {
    color: #CAFFBF;
}

.blankText {
    width: 16px;
}

.nal {
    color: #9BF6FF;
}

.sse {
    color: #A0C4FF;
}

.bg1 {
    width: 122px;
    height: 200px;
    background-image: url("./ch/Hina_Amano_Profile.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: visible;
    margin-top: 2%;
}

.bg2 {
    width: 126px;
    height: 200px;
    background-image: url("./ch/Hodaka_Morishima_Profile.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: visible;
    margin-top: 2%;
}

.weather_info {
    font-family: 'Arita-buri-SemiBold';
    color: white;
}

.quote {
    font-family: 'Arita-buri-SemiBold';
    font-size: 30px;
    text-shadow: 3px 3px 6px black;
}